html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #bdc3c7, #2c3e50); 
}

.calculator {
    background: #fff;
    width: 400px;
    border-radius: 14px;
    box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.7);
}

/* Style for the Display of the calculator */
.calculator-display {
    background: #2980b9;
    color: #fff;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 12px 12px 0 0;
}

.calculator-display h1{
    margin: 0;
    padding: 25px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    overflow-x: auto;
}

/* Style for the custom scorllbar (in case there's a big number in the display) */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}
    
::-webkit-scrollbar-thumb {
    background: #888;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
} 

/* Buttons style*/
.calculator-btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

button {
    min-height: 50px;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    background: #bdc3c7;
}

button:hover {
    filter:brightness(120%);
}

button:active {
    transform: translateY(1px);
}

button:focus {
    outline: none;
}

.operator {
    background: #7f8c8d;
    color: #fff;
    font-size: 32px;
}

.clear {
    background: #c0392b;
    color:#fff;
    font-size: 25px;
}

.clear:hover {
    filter: brightness(90%);
}

.equal-sign {
    background: #27ae60;
    grid-column: -2;
    grid-row: 2 / span 4;
}

/* Media Query for Large screens of Smartphones (vertical) */
@media screen and (max-width:600px) {
    .calculator {
        width: 95%;
    }
}